# Environment variables
.env
.env.*

# Dependencies
node_modules/

# macOS
.DS_Store

# Recordings
recordings/*
!recordings/.gitkeep

# Extracted audio
audio/*
!audio/.gitkeep

# Raw transcripts
transcripts/*
!transcripts/.gitkeep

# Generated Markdown
markdowns/*
!markdowns/.gitkeep