# Environment variables
.env
.env.*

# Dependencies
node_modules/

# macOS
.DS_Store

# Recordings
recordings/*
!recordings/.gitkeep

# Audio
audio/*
!audio/.gitkeep

# Transcripts
transcripts/*
!transcripts/.gitkeep

# Notes
markdowns/*
!markdowns/.gitkeep

# Study
annotations/*
!annotations/.gitkeep